@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Work+Sans:wght@700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: grey;
}

iframe {
  border-radius: 30px;
}

.footer {
  background: linear-gradient(to bottom, #500202, #000000);
  color: white;
  height: 6vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  overflow: hidden;
  margin-top: auto;
}

.footer p {
  margin-bottom: 0;
  color: white;
}

.social-icon {
  color: white;
  font-size: 20px;
  margin: 0 5px;
}

.glava {
  background: linear-gradient(to bottom, #500202, #000000);
}

.content {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  flex: 1 1 calc(50% - 40px);
  margin: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}

.blog-post img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-post p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.blog-post a {
  color: #565656;
  text-decoration: none;
  font-weight: bold;
}

.blog-post a:hover {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-menu {
  background: linear-gradient(to bottom, #500202, #d43811);
}

.dropdown-item {
  color: white;
}