@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Work+Sans:wght@700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: lightgrey;
}

section {
  padding-left: 5%;
  padding-right: 5%;
}

li {
  text-align: justify;
}

.footer {
  background: linear-gradient(to bottom, #500202, #000000);
  color: white;
  height: 6vh;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  overflow: hidden;
}

.footer p {
  margin-bottom: 0;
  color: white;
}

.social-icon {
  color: white;
  font-size: 20px;
  margin: 0 5px;
}

.glava {
  background: linear-gradient(to bottom, #500202, #000000);
}


.section {
  padding: 40px;

}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.video-item {
  text-align: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h3 {
  margin-top: 10px;
}

.video-tutorials {
  padding: 40px 0;
  background-color: #f4f4f4;
}

.video-tutorials .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.video-tutorials h2 {
  font-size: 2.5rem;
  color: #f31212;
  text-align: center;
  margin-bottom: 2rem;
}

.video-tutorials .video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.video-tutorials .video-item {
  width: calc(110% - 20px);
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-tutorials .video-thumbnail {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}

.video-tutorials .video-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-tutorials .video-details {
  padding: 20px;
}

.video-tutorials .video-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.video-tutorials .video-description {
  font-size: 14px;
  color: #777;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .video-tutorials .video-item {
    width: 100%;
  }
}